.about {
  background-color: #090a10;
  padding-top: 20px;
  padding-bottom: 40px;
}
.about__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.about__testi {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
@media screen and (max-width: 1000px) {
  .about {
    padding: 0 10px;
  }
}
